<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data-paths</key>
	<array/>
	<key>widget-prefs</key>
	<dict>
		<key>navbar-css</key>
		<string>.navbar {
	font-family: 'Courier New', Courier, monospace, serif;
	font-size: 1em;
	color: #DDC9A9;
	margin: 0px 0px 0 35px;
	padding: 0px;
	font-weight: bold;
}

.navbar-bg {
	text-align: left;
}

.navbar-bg ul {
	list-style: none;
	margin: 0px;
	padding: 0px 10px 0 0;
}


li {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0px 20px 0px 0px;
	line-height: 30px;
}

li a {
	text-decoration: none;
	color: #DDC9A9;
}

li a:visited	 {
	text-decoration: none;
	color: #DDC9A9;
}

li a:hover{
 	color: #FFF;
	text-decoration: none;}


li.current-page a{	 color: #A9562E;
	text-decoration: none;}</string>
	</dict>
</dict>
</plist>
