<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>none</string>
	</dict>
	<dict>
		<key>name</key>
		<string>muffled</string>
		<key>AUName</key>
		<string>AULowPass</string>
		<key>parameters</key>
		<dict>
			<key>cutoff frequency</key>
			<integer>1000</integer>
		</dict>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAACAAAAAER6AAAAAAABvr9nAA==</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Untitled</string>
			<key>subtype</key>
			<integer>1819304307</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>robot</string>
		<key>AUName</key>
		<string>AUDistortion</string>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAAQAAAAAEJbmZoAAAABQNAAAAAAAAJCyAAAAAAAAwAAAAAAAAAEAAAAAAAAAAUAAAAAAAAABgAAAAAAAAAHAAAAAAAAAAgAAAAAAAAACQAAAAAAAAAKPwAAAAAAAAs/AAAAAAAADAAAAAAAAAANAAAAAAAAAA5A+ZmaAAAAD0LIAAA=</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Multi - Echo Tight 2</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1684632436</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>cosmic</string>
		<key>AUName</key>
		<string>AUDistortion</string>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAAQAAAAAD3MzM0AAAABP4AAAAAAAAJALMzNAAAAAwAAAAAAAAAEAAAAAAAAAAUAAAAAAAAABgAAAAAAAAAHAAAAAAAAAAgAAAAAAAAACQAAAAAAAAAKRVSAAAAAAAtDlgAAAAAADEK7zM0AAAANQsgAAAAAAA5BaZmaAAAAD0LIAAA=</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Drums - Bit Brush</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1684632436</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>echo</string>
		<key>AUName</key>
		<string>AUDistortion</string>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAAQAAAAAEPspmYAAAABQNeuFAAAAAJCyAAAAAAAAwAAAAAAAAAEAAAAAAAAAAUAAAAAAAAABgAAAAAAAAAHAAAAAAAAAAgAAAAAAAAACQAAAAAAAAAKPwAAAAAAAAs/AAAAAAAADAAAAAAAAAANAAAAAAAAAA5AczMzAAAAD0LIAAA=</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Drums - Bit Brush</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1684632436</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>telephone</string>
		<key>AUName</key>
		<string>AUGraphicEQ</string>
		<key>preset</key>
		<dict>
			<key>Num EQ Bands</key>
			<integer>10</integer>
			<key>data</key>
			<data>AAAAAAAAAAAAAAAgAAAAAMGQAAAAAAABwYgAAAAAAALBgAAAAAAAA8FwAAAAAAAEAAAAAAAAAAUAAAAAAAAABgAAAAAAAAAHwXAAAAAAAAjBgAAAAAAACcGIAAAAAAAKAAAAAAAAAAsAAAAAAAAADAAAAAAAAAANAAAAAAAAAA4AAAAAAAAADwAAAAAAAAAQAAAAAAAAABEAAAAAAAAAEgAAAAAAAAATAAAAAAAAABQAAAAAAAAAFQAAAAAAAAAWAAAAAAAAABcAAAAAAAAAGAAAAAAAAAAZAAAAAAAAABoAAAAAAAAAGwAAAAAAAAAcAAAAAAAAAB0AAAAAAAAAHgAAAAAAACcQAAAAAA==</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Untitled</string>
			<key>subtype</key>
			<integer>1735550321</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>radio</string>
		<key>AUName</key>
		<string>AUDistortion</string>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAAQAAAAAEHgzM0AAAABQAmZmgAAAAJCazMzAAAAA0IcAAAAAAAEQaAAAAAAAAUAAAAAAAAABgAAAAAAAAAHAAAAAAAAAAgAAAAAAAAACQAAAAAAAAAKQex64QAAAAtCrtHsAAAADEKzzM0AAAANQsUzMwAAAA5BXmZmAAAAD0LIAAA=</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Speech - Radio Tower</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1684632436</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>multitune</string>
		<key>AUName</key>
		<string>AUTuning</string>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>BAEAAAEAAAA7AAAAR0FNRVRTUFDrAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIA/AAAAAAAAgD8AAAAAAACAPwAAgD8AAAAAAACAPwAAAAAAAIA/AAAAAAAAgD8AAIA/AAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIA/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=</data>
			<key>manufacturer</key>
			<integer>1162690887</integer>
			<key>name</key>
			<string>Enhance Tuning</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>235</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>reverb1</string>
		<key>AUName</key>
		<string>AUMatrixReverb</string>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAARAAAAAELIAAAAAAABQfQAAAAAAAI63tKJAAAAAz0bpeMAAAAEO6PXCgAAAAU8VP30AAAABj8UeuEAAAAHPlcKPQAAAAg/BmZmAAAACT91gQYAAAAKP3hR7AAAAAs/gAAAAAAADD9AAAAAAAANPxmZmgAAAA5ESAAAAAAAD0BAAAAAAAAQAAAAAA==</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Small Room</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1836213622</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>reverb2</string>
		<key>AUName</key>
		<string>AUMatrixReverb</string>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAARAAAAAELIAAAAAAABQpUAAAAAAAI7nUlSAAAAAz0j1woAAAAEOwMSbwAAAAU8OscRAAAABj7mZmYAAAAHPo9cKQAAAAg+o9cKAAAACT+AAAAAAAAKP0ZmZgAAAAs/gAAAAAAADD9AAAAAAAANPszMzQAAAA5ESAAAAAAAD0BAAAAAAAAQAAAAAA==</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Medium Room</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1836213622</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>reverb3</string>
		<key>AUName</key>
		<string>AUMatrixReverb</string>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAARAAAAAELIAAAAAAABQoQAAAAAAAI9EWhzAAAAAz0LQ5YAAAAEO97SiQAAAAU8801qAAAABj7wo9cAAAAHP3HrhQAAAAg+keuFAAAACT97ZFoAAAAKPqyLRAAAAAs/EKPXAAAADD+lHrgAAAANPjhR7AAAAA5ESAAAAAAAD0BAAAAAAAAQAAAAAA==</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Large Room</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1836213622</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>reverb4</string>
		<key>AUName</key>
		<string>AUMatrixReverb</string>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAARAAAAAELIAAAAAAABQqsAAAAAAAI85wOwAAAAAz2+dskAAAAEPHQfIQAAAAU6gxJvAAAABj79cKQAAAAHP4AAAAAAAAg+3Cj2AAAACT9ysCEAAAAKPsSbpgAAAAs/HXCkAAAADD9euFIAAAANP0AAAAAAAA5ESAAAAAAAD0BAAAAAAAAQAAAAAA==</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Cathedral</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1836213622</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>pitchdown1</string>
		<key>AUName</key>
		<string>AUPitch</string>
		<key>parameters</key>
		<dict>
			<key>pitch</key>
			<integer>-300</integer>
		</dict>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAAZAAAAAAAAAAAAAAABw5YAAAAAAAJCyAAAAAAAA0JIAAAAAAAEQkgAAAAAAAVCcAAAAAAABkCAAAAAAAAHQAAAAAAAAAhAAAAAAAAACQAAAAAAAAAKP+AAAAAAAAs/kzMzAAAADD9AAAAAAAANP8AAAAAAAA4/gAAAAAAAD0JIAAAAAAAQPczMzQAAABFAoAAAAAAAEkCAAAAAAAATQSAAAAAAABRBIAAAAAAAFQAAAAAAAAAWP4AAAAAAABc/gAAAAAAAGD+AAAA=</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Universal</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1953329268</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>pitchdown2</string>
		<key>AUName</key>
		<string>AUPitch</string>
		<key>parameters</key>
		<dict>
			<key>pitch</key>
			<integer>-600</integer>
		</dict>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAAZAAAAAAAAAAAAAAABxBYAAAAAAAJCyAAAAAAAA0JIAAAAAAAEQkgAAAAAAAVCcAAAAAAABkCAAAAAAAAHQAAAAAAAAAhAAAAAAAAACQAAAAAAAAAKP+AAAAAAAAs/kzMzAAAADD9AAAAAAAANP8AAAAAAAA4/gAAAAAAAD0JIAAAAAAAQPczMzQAAABFAoAAAAAAAEkCAAAAAAAATQSAAAAAAABRBIAAAAAAAFQAAAAAAAAAWP4AAAAAAABc/gAAAAAAAGD+AAAA=</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Universal</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1953329268</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>pitchdown3</string>
		<key>AUName</key>
		<string>AUPitch</string>
		<key>parameters</key>
		<dict>
			<key>pitch</key>
			<integer>-1200</integer>
		</dict>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAAZAAAAAAAAAAAAAAABxJYAAAAAAAJCyAAAAAAAA0JIAAAAAAAEQkgAAAAAAAVCcAAAAAAABkCAAAAAAAAHQAAAAAAAAAhAAAAAAAAACQAAAAAAAAAKP+AAAAAAAAs/kzMzAAAADD9AAAAAAAANP8AAAAAAAA4/gAAAAAAAD0JIAAAAAAAQPczMzQAAABFAoAAAAAAAEkCAAAAAAAATQSAAAAAAABRBIAAAAAAAFQAAAAAAAAAWP4AAAAAAABc/gAAAAAAAGD+AAAA=</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Universal</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1953329268</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>pitchdown4</string>
		<key>AUName</key>
		<string>AUPitch</string>
		<key>parameters</key>
		<dict>
			<key>pitch</key>
			<integer>-1800</integer>
		</dict>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAAZAAAAAAAAAAAAAAABxOEAAAAAAAJCyAAAAAAAA0JIAAAAAAAEQkgAAAAAAAVCcAAAAAAABkCAAAAAAAAHQAAAAAAAAAhAAAAAAAAACQAAAAAAAAAKP+AAAAAAAAs/kzMzAAAADD9AAAAAAAANP8AAAAAAAA4/gAAAAAAAD0JIAAAAAAAQPczMzQAAABFAoAAAAAAAEkCAAAAAAAATQSAAAAAAABRBIAAAAAAAFQAAAAAAAAAWP4AAAAAAABc/gAAAAAAAGD+AAAA=</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Universal</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1953329268</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>pitchup1</string>
		<key>AUName</key>
		<string>AUPitch</string>
		<key>parameters</key>
		<dict>
			<key>pitch</key>
			<integer>300</integer>
		</dict>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAAZAAAAAAAAAAAAAAABQ5YAAAAAAAJCyAAAAAAAA0JIAAAAAAAEQkgAAAAAAAVCcAAAAAAABkCAAAAAAAAHQAAAAAAAAAhAAAAAAAAACQAAAAAAAAAKP+AAAAAAAAs/kzMzAAAADD9AAAAAAAANP8AAAAAAAA4/gAAAAAAAD0JIAAAAAAAQPczMzQAAABFAoAAAAAAAEkCAAAAAAAATQSAAAAAAABRBIAAAAAAAFQAAAAAAAAAWP4AAAAAAABc/gAAAAAAAGD+AAAA=</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Universal</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1953329268</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>pitchup2</string>
		<key>AUName</key>
		<string>AUPitch</string>
		<key>parameters</key>
		<dict>
			<key>pitch</key>
			<integer>600</integer>
		</dict>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAAZAAAAAAAAAAAAAAABRBYAAAAAAAJCyAAAAAAAA0JIAAAAAAAEQkgAAAAAAAVCcAAAAAAABkCAAAAAAAAHQAAAAAAAAAhAAAAAAAAACQAAAAAAAAAKP+AAAAAAAAs/kzMzAAAADD9AAAAAAAANP8AAAAAAAA4/gAAAAAAAD0JIAAAAAAAQPczMzQAAABFAoAAAAAAAEkCAAAAAAAATQSAAAAAAABRBIAAAAAAAFQAAAAAAAAAWP4AAAAAAABc/gAAAAAAAGD+AAAA=</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Universal</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1953329268</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>pitchup3</string>
		<key>AUName</key>
		<string>AUPitch</string>
		<key>parameters</key>
		<dict>
			<key>pitch</key>
			<integer>1200</integer>
		</dict>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAAZAAAAAAAAAAAAAAABRJYAAAAAAAJCyAAAAAAAA0JIAAAAAAAEQkgAAAAAAAVCcAAAAAAABkCAAAAAAAAHQAAAAAAAAAhAAAAAAAAACQAAAAAAAAAKP+AAAAAAAAs/kzMzAAAADD9AAAAAAAANP8AAAAAAAA4/gAAAAAAAD0JIAAAAAAAQPczMzQAAABFAoAAAAAAAEkCAAAAAAAATQSAAAAAAABRBIAAAAAAAFQAAAAAAAAAWP4AAAAAAABc/gAAAAAAAGD+AAAA=</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Universal</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1953329268</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>pitchup4</string>
		<key>AUName</key>
		<string>AUPitch</string>
		<key>parameters</key>
		<dict>
			<key>pitch</key>
			<integer>1800</integer>
		</dict>
		<key>preset</key>
		<dict>
			<key>data</key>
			<data>AAAAAAAAAAAAAAAZAAAAAAAAAAAAAAABROEAAAAAAAJCyAAAAAAAA0JIAAAAAAAEQkgAAAAAAAVCcAAAAAAABkCAAAAAAAAHQAAAAAAAAAhAAAAAAAAACQAAAAAAAAAKP+AAAAAAAAs/kzMzAAAADD9AAAAAAAANP8AAAAAAAA4/gAAAAAAAD0JIAAAAAAAQPczMzQAAABFAoAAAAAAAEkCAAAAAAAATQSAAAAAAABRBIAAAAAAAFQAAAAAAAAAWP4AAAAAAABc/gAAAAAAAGD+AAAA=</data>
			<key>manufacturer</key>
			<integer>1634758764</integer>
			<key>name</key>
			<string>Universal</string>
			<key>render-quality</key>
			<integer>127</integer>
			<key>subtype</key>
			<integer>1953329268</integer>
			<key>type</key>
			<integer>1635083896</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
