<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.01873779296875</real>
		<key>time</key>
		<real>281</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.01873779296875</real>
		<key>time</key>
		<real>765</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.2249908447265625</real>
		<key>time</key>
		<real>1250</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>1742</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>2226</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.20623779296875</real>
		<key>time</key>
		<real>2718</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>3226</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>3718</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>4226</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>4710</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>5203</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.8125</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>5710</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>6226</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.8125</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>6710</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>7218</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>7710</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>8218</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>8734</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.8125</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>9218</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>9726</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>10242</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>10726</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>11242</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>11750</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>12234</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>12750</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>13234</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>13750</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>14234</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>14742</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>15234</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>15718</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>16234</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>16742</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>17226</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>17742</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>18250</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>18765</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.1312408447265625</real>
		<key>time</key>
		<real>19250</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>19757</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>20273</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.8125</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>20781</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.8125</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>21312</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>21828</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>22335</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>22828</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.1312408447265625</real>
		<key>time</key>
		<real>23335</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>23843</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5625</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>24335</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>24843</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>25359</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5625</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>25867</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>26351</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5625</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>26867</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>27351</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5625</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>27867</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.1312408447265625</real>
		<key>time</key>
		<real>28375</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>28882</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>29398</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>29882</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>30398</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>30906</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>31414</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>31929</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>32437</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>32945</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>33437</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>33945</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>34460</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>34945</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>35453</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>35945</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>36453</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.8125</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>36945</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.8125</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>37476</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.8125</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>37984</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>38476</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.8125</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>38984</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>39500</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>40007</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>40515</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>41031</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>41515</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>42031</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>42539</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.8125</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>43023</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>43539</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>44046</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>44562</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>45070</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>45578</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>46093</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>46601</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.9375</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>47117</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>47625</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.875</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>48132</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.8125</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>48648</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.8125</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>49156</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.8125</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>49664</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.75</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>50179</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>50687</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>51179</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>51687</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>52195</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>52710</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>53218</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>53734</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>54242</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>54750</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>55265</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>55773</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>56289</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>56796</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5625</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>57304</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5625</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>57820</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>58304</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>58812</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>59328</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>59835</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5625</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>60328</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5625</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>60835</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5625</real>
		<key>power</key>
		<real>0.1312408447265625</real>
		<key>time</key>
		<real>61343</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>61859</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>62343</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>62859</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>63367</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>63875</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>64367</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>64875</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>65390</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>65898</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>66406</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.01873779296875</real>
		<key>time</key>
		<real>66921</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.6875</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>67429</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>67945</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5625</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>68453</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>68937</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.625</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>69453</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5</real>
		<key>power</key>
		<real>0.01873779296875</real>
		<key>time</key>
		<real>69937</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5625</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>70453</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.5</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>70960</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.4375</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>71445</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.4375</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>71960</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.375</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>72468</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.375</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>72960</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.3125</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>73468</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.3125</real>
		<key>power</key>
		<real>0.11248779296875</real>
		<key>time</key>
		<real>73953</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.25</real>
		<key>power</key>
		<real>0.0749969482421875</real>
		<key>time</key>
		<real>74468</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.25</real>
		<key>power</key>
		<real>0.168731689453125</real>
		<key>time</key>
		<real>74953</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.25</real>
		<key>power</key>
		<real>0.0937347412109375</real>
		<key>time</key>
		<real>75468</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.25</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>75953</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.25</real>
		<key>power</key>
		<real>0.056243896484375</real>
		<key>time</key>
		<real>76460</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.25</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>77000</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.1875</real>
		<key>power</key>
		<real>0.0374908447265625</real>
		<key>time</key>
		<real>77507</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.1875</real>
		<key>power</key>
		<real>0.01873779296875</real>
		<key>time</key>
		<real>78039</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.125</real>
		<key>power</key>
		<real>0.01873779296875</real>
		<key>time</key>
		<real>78578</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.125</real>
		<key>power</key>
		<real>0.0</real>
		<key>time</key>
		<real>79109</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.125</real>
		<key>power</key>
		<real>0.0</real>
		<key>time</key>
		<real>79625</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.0625</real>
		<key>power</key>
		<real>0.0</real>
		<key>time</key>
		<real>80156</real>
	</dict>
	<dict>
		<key>confidence</key>
		<real>0.0625</real>
		<key>power</key>
		<real>0.0</real>
		<key>time</key>
		<real>80687</real>
	</dict>
</array>
</plist>
